a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
.header-container {
    height: 130px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: rgb(234, 234, 234);
}

.title-nav{
    color: black;
    font-family: 'Bitter',serif;
    text-decoration: none;
    padding: 20px 40px;
    font-size: 1.5rem;
    text-transform: capitalize;
    
    line-height:1em;
    display: inline-block;
    position: relative;
} 
.title-nav:after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.title-nav:hover:after{
    transform: scaleX(1);
  transform-origin: bottom left;
}

.elem-header-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    list-style-type: none;
}

.logo {
    max-width: 200px;
    max-height: 100px;
    margin-right: 10px;
  }