.home-photo-container{
    border: 2px solid red;
    /* display: flex; */
    
}
.home-pic{
    height: 500px;

    
}

h1 { 
    color: #333333; 
    font-family: 'Bitter',serif;
      font-size: 50px;
       font-weight: normal;
        line-height: 54px;
         margin: 0 0 30px; 
}