.title-page-exp {
    color: #111;
    font-family: 'Bitter',serif;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 64px;
    margin: 0 0 0;
    padding: 10px 30px;
    text-align: center; 
    text-transform: capitalize;
    border-bottom: solid 1px grey;
    margin-bottom: 60px;
}
.div-page-exp{
    display: flex;
    border: 2px olive solid;
    height: 60vh;
    
}
.div-left-page-exp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
    width: 50%;
    background-color: white;
}