.title-page-exp {
    color: #111;
    font-family: 'Bitter',serif;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 64px;
    margin: 0 0 0;
    padding: 10px 30px;
    text-align: center; 
    text-transform: capitalize;
    border-bottom: solid 1px grey;
    margin-bottom: 60px;
}
.div-page-exp{
    display: flex;
    height: 60vh;
    
}
.div-left-page-exp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 300px;
    max-width:450px;
    width: 100%;
    background-color: white;
    
}

.list-left-exp{
    height: 100%;
    width: 100%;
display: flex;
align-items: center;
text-transform: uppercase;

}
.list-left-exp:hover{
    background-color: goldenrod;
    cursor: pointer;
    
    }
    .list-left-exp p {
        margin-left: 30px;
        font-weight: 600;
    }
    .border-limit{
        background-color: goldenrod;
        width: 5px;
    }
    .div-right-list{
        
        margin-left: 50px;
        background-color: rgba(213, 164, 42, 0.257);
    }

    